# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Exclude CLI configuration files
.terraform/
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore local override files
.terraformrc
terraform.rc

# OS-specific files
.DS_Store
Thumbs.db
