name: Terraform Deploy

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/**'
      - '.github/workflows/deploy.yml'
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  TF_BUCKET: tc-fiap-fast-food-${{github.run_id}}"
  TF_STATE_KEY: terraform.tfstate
  DYNAMODB_TABLE: terraform-locks
  TERRAFORM_VERSION: 1.12.2

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -upgrade -backend=false

      - name: Init S3 Bucket
        working-directory: ./terraform
        run: |
          terraform apply -auto-approve -target=aws_s3_bucket.bucket_backend || echo "Bucket already created"

      - name: Config Backend
        run: |
          cat <<EOF > backend.tf
          terraform {
            backend "s3" {
              bucket = "${{ env.TF_BUCKET }}"
              key    = "fiap-tc/terraform.tfstate"
              region = "us-east-1"
            }
          }
          EOF

      - name: Init terraform
        run: terraform init -upgrade -migrate-state -force-copy

      - name: Validate Terraform
        run: terraform validate

      - name: Terraform Plan
        id: plan
        working-directory: ./terraform
        run: |
          terraform plan \
            -input=false \
            -no-color \
            -out=tfplan

      - name: Terraform Apply
        working-directory: ./terraform
        run: |
          terraform apply \
            -input=false \
            -auto-approve \
            tfplan
